<h1>Confirmación de email</h1>
<h2><%= @greeting %></h2>
<h3>Su cuenta <%= @email %> ha sido aceptada.
Para confirmar su cuenta, sólo tiene que hacer click en
<%= link_to "Activate!", @link %></h3>
<h3>¡Bienvenid@ a Domofera!</h3>
