<%= stylesheet_link_tag "compiled/fullcalendar", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "compiled/calendar", "data-turbolinks-track" => true %>
<div id="page-content-wrapper">
<div class="container-fluid">
  <div class="row">
    <h2>Calendario de siembra</h2>
   <div class="col-md-10">
     <div id="calendar"></div>
   </div>
  </div>
</div>
</div>
<i class="icon flaticon-right226" id="menu-toggle"></i>
