<div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Mi Perfil</h1>
          <!-- Formulario de edición de usuario -->
          <%= render "form_edit_user" %>
      <i class="icon flaticon-right226" id="menu-toggle"></i>
    </div>
</div>
