<div id="wrapper">
  <%= render "layouts/sidebar" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1><i class="icon flaticon-profile26"></i>Mi Perfil</h1>

      <div class="row">
          <%= render "form_edit_user" %>
      </div>
      <i class="icon flaticon-right226" id="menu-toggle"></i>
    </div>
  </div>
</div>
