<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h3> Programación de riego </h3>
        <%= render "todos/form_new_todo" %>
        <%= render "todos/list_todos" %>
      </div>
    </div>
  </div>
</div>
<i class="icon flaticon-right226" id="menu-toggle"></i>
