<%= javascript_include_tag "compiled/aubengine", "data-turbolinks-track" => true %>
<div id="grove-container">
  <div id="page-content-wrapper" class="mygroveview">
    <div class="container-fluid">
      <div class="row">
        <div id="content">
          <canvas id='the-canvas'></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
