<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Domofera</strong>
        </h4>
        <p>Universidad de Alicante</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:domoferaapp@gmail.com">domoferaapp@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="http://twitter.com/domofera"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Domofera 2014</p>
        <a href="/legal">Aviso Legal y Política de Privacidad</a>
      </div>
    </div>
  </div>
</footer>
