<div id="gConnect">
  <button class="g-signin"
  data-scope="https://www.googleapis.com/auth/plus.login"
  data-requestvisibleactions="http://schemas.google.com/AddActivity"
  data-clientId="{{ CLIENT_ID }}"
  data-accesstype="offline"
  data-callback="onSignInCallback"
  data-theme="dark"
  data-cookiepolicy="single_host_origin">
</button>
</div>
