<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text navbar-right">
        <%= link_to "Cerrar Sesión", log_out_path, :method => :delete ,:class => "logout" %>
      </p>
    </div>
  </div>
</nav>
