<!DOCTYPE html>
<html>
<head>
  <title>Domofera - About</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="page-content">
  <div style="display:none" id="loader"><img src="loading.gif"/></div>
    <%= render :partial => "shared/flash_messages.html.erb" %>
    <h1>About Domofera</h1>
   </div>
  </div>
</body>
</html>
