	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<%= image_tag('official/logo.png', :class => 'logo') %>
					<h1>DOMOFERA</h1>
					<h4>La APP de los agricultores urbanos</h4>
					<h3>en construcción</h3>
					<button class="btn btn-default btn-domofera">Iniciar Sesión</button>
					<button class="btn btn-default btn-domofera">Registro</button>
				</div>
			</div><!--/row -->
	    </div> <!-- /container -->
	</div>
	
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<h1>¿Qué es Domofera?</h1>
			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<h3>Aporta tu grano de arena y ayuda a que este proyecto se haga realidad</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<h3>Hazte con las claves para convertirte en agricultor urbano</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<h3>Una estupenda herramienta para gestionar tu huerto desde cualquier sitio</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			</div>
		</div>
	</div>
	
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-dribbble"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-tumblr"></i></a>
				</div>
			
			</div>
		</div>
	</div>

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
				
				</div>
			
				<div class="col-lg-4">
				
				</div>
				<div class="col-lg-4">
					
				</div>
			</div>
		</div>
	</div>