<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1>Todos</h1>
    <div class="row">
    <%= render "form_new_todo" %>
    <%= render "list_todos" %>
    <i class="icon flaticon-right226" id="menu-toggle"></i>
  </div>
  </div>
</div>
