<div id="headerwrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<img ng-src={{logoDomofera}} alt="Domofera Logo" class="logo"/>
				<h1>DOMOFERA</h1>
				<h4>La APP de los agricultores urbanos</h4>
				<h3>en construcción</h3>
				<a class="btn btn-default btn-domofera" href="#/users">Iniciar Sesión</a>
				<button class="btn btn-default btn-domofera">Registro</button>
			</div>
		</div>
    </div>
</div>

<section id="works"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1>¿Qué es Domofera?</h1>
		
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<h3>Aporta tu grano de arena y ayuda a que este proyecto se haga realidad</h3>
			<img ng-src={{logoPromote}} alt="Logo de promocion" class="banner"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<h3>Hazte con las claves para convertirte en un verdadero agricultor urbano</h3>
			<img ng-src={{logoMooc}} alt="Logo del MOOC" class="banner"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<h3>Una estupenda herramienta para gestionar tu huerto desde cualquier sitio</h3>
			<img ng-src={{logoIntegration}} alt="Logo de herramienta de integracion" class="banner"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
		</div>
	</div>
</div>

<div id="social">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-6">
				<h2>Entérate de las novedades a través de las redes sociales</h2>
			</div>
			<div class="col-lg-6">
			<a class="twitter-timeline"  href="https://twitter.com/domofera" data-widget-id="522671760575963138" lang="es">Tweets de @domofera</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			
			<div class="col-lg-2">
				<a href="#"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="col-lg-2">
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="col-lg-2">
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
			<div class="col-lg-2">
				<a href="#"><i class="fa fa-tumblr"></i></a>
			</div>
		
		</div>
	</div>
</div>