.main-form {
  display: block;
  width: 100%;
  padding: 30px;
}

.simple-form {
  display: block;
}

.simple-input {
  color: #333;
  width: 90%;
  font-size: 1.5em;
  margin: 5px auto 5px auto;
  display: block;
  position: relative;
  border: 3px solid #70DBDB;
  padding: 8px;
}

.simple-input:focus {
  background-color: #70DBDB;
  color: white;
}

.simple-input:focus::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

.simple-input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}

.simple-input:focus::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}

.simple-input:focus::-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

.simple-submit {
  font-size: 1.5em;
  display: block;
  background-color: #0Cb6b6;
  border: 3px solid transparent;
  padding: 8px;
  margin: 5px auto 5px auto;
  margin-top: 5px;
  color: white;
}

.simple-submit:hover {
  background-color: white;
  border: 3px solid #0cb6b6;
  color: #0cb6b6;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}

.new-account
{
    display: block;
    margin-top: 10px;
}
