// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.legal-content {
  text-align: left;
  width: 80%;
  padding: 30px;
  margin: 0 auto 0 auto;
  background-color: rgba(255,255,255,1);
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
  height: 0;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  margin: 0 auto 0 auto;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
}
