.canvas {
  height: 225px;
  width: 100%;
  position: relative;
  display: block;
}

.canvasContainer {
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
  display: block;
  padding-bottom: 50px;
}
