.canvas {
  height: 225px;
  width: 100%;
  position: relative;
  display: block;
}

.canvasContainer {
  width: 80%;
  margin: 0 auto 0 auto;
  position: relative;
  display: block;
  padding-bottom: 50px;
}

#btn-group {
  display: block;
  text-align: center;
}

.statisticButton {
  border: none;
  border-radius: 0;
  margin: 5px;
  min-width: 200px;
  height: 50px;
  color: white;
  font-size: 1.3em;
}

.all {
  border: 1px solid silver;
  color: #333;
}

.humidity {
  background-color: #47A3FF;
}

.humidity:hover {
  background-color: #007AA3;
  color: white;
}

.wind {
  background-color: #E62E8A;
}

.wind:hover {
  background-color: #B2246B;
  color: white;
}

.floor {
  background-color: #CC3300;
}

.floor:hover {
  background-color: #8F2400;
  color: white;
}

.temp {
  background-color: #E65C00;
}

.temp:hover {
  background-color: #B24700;
  color: white;
}

.ph {
  background-color: #009933;
}

.ph:hover {
  background-color: #006B24;
  color: white;
}

.light {
  background-color: #FFFF99;
}
