// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Toggle Styles */

#menu-toggle {
  color: #333;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1000;
}

#menu-toggle:hover {
  cursor: pointer;
}


.logout {
  float: right;
}

.login {
  position: absolute;
  display: block;
}

.orange {
  width: 150px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-size: 1.2em;
  background-color: #E65C00;
  opacity: 0.8;
  color: white;
  border: 3px solid transparent;
}

.orange:hover {
  text-decoration: none;
  background-color: white;
  color: #E65C00;
  border: 3px solid #E65C00;
  cursor: pointer;
}

.navigator {
  display: inline-block;
  width: 100%;
}

.edit-user {
  width: 100%;
}

.sidebar {
  height: 30px;
}
