<div id="headerwrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<img ng-src={{logoDomofera}} alt="Domofera Logo" class="logo"/>
				<h1>DOMOFERA</h1>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<form class="form-signin" role="form">
        			<input type="email" class="form-control" placeholder="Nombre de usuario" required autofocus>
        			<input type="password" class="form-control" placeholder="Contraseña" required>
        			<label class="checkbox">
          				<input type="checkbox" value="remember-me"> Recuérdame
        			</label>
        			<button class="btn btn-lg btn-default btn-block" type="submit">Iniciar Sesión</button>
      			</form>
			</div>
		</div>
    </div>
</div>
