<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/user">
          <img src="/assets/official/logo.png" alt="Logo Domofera" class="mini-logo"/>
           Domofera
        </a>
      </li>
      <li><h4><a href="/user">Principal</a></h4></li>
      <li><h4><a href="/user/terminals">Mis terminales</a></h4></li>
      <li><h4><a href="/user/edit">Mi perfil</a></h4></li>
      <li><h4><a href="#">Mi huerto</a></h4></li>
      <li><h4><a href="/user/statistics">Estadísticas</a></h4></li>
      <li><h4><%= link_to "Cerrar Sesión", log_out_path, :method => :delete %></li>
  </ul>
</div>
