<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <img src="/assets/official/logo.png" alt="Logo Domofera" class="mini-logo"/>
           Domofera
        </a>
      </li>
      <li><a href="/user">Principal</a></li>
      <li><a href="/user/terminals">Mis terminales</a></li>
      <li><a href="/user/edit">Mi perfil</a></li>
      <li><a href="#">Mi huerto</a></li>
      <li><a href="#">Estadísticas</a></li>
  </ul>
</div>
<%= render "shared/navbar" %>
